'.source.js, .source.jsx':
  'Js class create':
    'prefix': 'class'
    'body': 'class ${1:className}${2: extends class}{\n\t${3:body}\n}$0'
  'Js constructor()':
    'prefix': 'construct'
    'body': 'constructor (${1:params}) {\n\t${2:body}\n}'
  'Js method get':
    'prefix': 'getm'
    'body':  'get ${1:method} () {\n\t${2:body}\n}$0'
  'Js extends class':
    'prefix': 'extends'
    'body': 'extends ${1:className} $0'
  'Js method set':
    'prefix': 'setm'
    'body': 'set ${1:method} (${2:params}) {\n\t${3:body}\n}$0'
  'Js static method':
    'prefix': 'static'
    'body': 'static ${1:method}$0'
  'Js super()':
    'prefix': 'super'
    'body':  'super(${1:params});$0'
