'.source.js, .source.jsx':
  'Js hasAttribute()':
    'prefix': 'hasAttr'
    'body': '${1:document}.hasAttribute(\'${2:attr}\')${0:;}'
  'Js innerHTML':
    'prefix': 'innerHTML'
    'body': '${1:element}.innerHTML = ${2:content}${0:;}'
  'Js appendChild()':
    'prefix': 'append'
    'body': '${1:document}.appendChild(${2:element})${0:;}'
  'Js classList.add()':
    'prefix': 'clAdd'
    'body': '${1:document}.classList.add(\'${2:class}\')${0:;}'
  'Js classList.remove()':
    'prefix': 'clRem'
    'body': '${1:document}.classList.remove(\'${2:class}\')${0:;}'
  'Js classList.toggle()':
    'prefix': 'clTog'
    'body': '${1:document}.classList.toggle(\'${2:class}\')${0:;}'
  'Js createDocumentFragment()':
    'prefix': 'cDocF'
    'body': '${1:document}.createDocumentFragment(${2:element})${0:;}'
  'Js createElement()':
    'prefix': 'cElem'
    'body': '${1:document}.createElement(${2:element})${0:;}'
  'Js createTextNode()':
    'prefix': 'ctxtn'
    'body': '${1:document}.createTextNode(\'${2:text}\')${0:;}'
  'Js getAttribute()':
    'prefix': 'getAttr'
    'body': '${1:document}.getAttribute(\'${2:attr}\')${0:;}'
  'Js getElementsByClassName()':
    'prefix': 'dom.getClass'
    'body': '${1:document}.getElementsByClassName(\'${2:class}\')${0:;}'
  'Js getElementsById()':
    'prefix': 'dom.getId'
    'body': '${1:document}.getElementById(\'${2:id}\')${0:;}'
  'Js getElementsByTagName()':
    'prefix': 'dom.getTag'
    'body': '${1:document}.getElementsByTagName(\'${2:tag}\')${0:;}'
  'Js querySelector()':
    'prefix': 'dom.query'
    'body': '${1:document}.querySelector(\'${2:selector}\')${0:;}'
  'Js querySelectorAll()':
    'prefix': 'dom.queryAll'
    'body': '${1:document}.querySelectorAll(\'${2:selector}\')${0:;}'
  'Js removeAttribute()':
    'prefix': 'remAttr'
    'body': '${1:document}.removeAttribute(\'${2:attr}\')${0:;}'
  'Js removeChild()':
    'prefix': 'remChild'
    'body': '${1:document}.removeChild(${2:element})${0:;}'
  'Js setAttribute()':
    'prefix': 'setAttr'
    'body': '${1:document}.setAttribute(\'${2:attr}\', ${3:value})${0:;}'
  'Js textContent':
    'prefix': 'txtCont'
    'body': '${1:document}.textContent = \'${2:content}\'${0:;}'
