'.source.js, .source.jsx':
  'Js Object.assign()':
    'prefix': 'obj.assign'
    'body': 'Object.assign(${1:object1}, ${2:object2});${0:;}'
  'Js Object.create()':
    'prefix': 'obj.create'
    'body': 'Object.create(${1:object}, ${2:properties});${0:;}'
  'Js Object.defineProperties()':
    'prefix': 'obj.defineProperties'
    'body': 'Object.defineProperties(${1:object}, ${2:property});${0:;}'
  'Js Object.defineProperty()':
    'prefix': 'obj.defineProperty'
    'body': 'Object.defineProperty(${1:object}, ${2:properties}, ${3:config});${0:;}'
  'Js Object.entries()':
    'prefix': 'obj.entries'
    'body': 'Object.entries(${1:object});${0:;}'
  'Js Object.freeze()':
    'prefix': 'obj.freeze'
    'body': 'Object.freeze(${1:object});${0:;}'
  'Js Object.getPrototypeOf()':
    'prefix': 'obj.getProto'
    'body': 'Object.getPrototypeOf(${1:object});${0:;}'
  'Js Object.hasOwnProperty()':
    'prefix': 'obj.has'
    'body': '${1:Object}.hasOwnProperty(\'${2:properties}\');${0:;}'
  'Js Object.is()':
    'prefix': 'obj.is'
    'body': 'Object.is(${1:value1}, ${:value2});${0:;}'
  'Js Object.isExtensible()':
    'prefix': 'obj.isExtensible'
    'body': 'Object.isExtensible(${1:object1});$0'
  'Js Object.isFrozen()':
    'prefix': 'obj.isFrozen'
    'body': 'Object.isFrozen(${1:object1});$0'
  'Js Object.isPrototypeOf()':
    'prefix': 'obj.isProto'
    'body': '${1:Object}.isPrototypeOf(${2:object});${0:;}'
  'Js Object.isSealed()':
    'prefix': 'obj.isSealed'
    'body': 'Object.isSealed(${1:object1});$0'
  'Js Object.keys()':
    'prefix': 'obj.keys'
    'body': '${1:Object}.keys(${2:object});${0:;}'
  'Js Object.preventExtensions()':
    'prefix': 'obj.preventExtensions'
    'body': '${1:Object}.preventExtensions(${2:object});${0:;}'
  'Js Object.propertyIsEnumerable()':
    'prefix': 'obj.propertyIsEnumerable'
    'body': '${1:Object}.propertyIsEnumerable(${2:object});${0:;}'
  'Js Object.seal()':
    'prefix': 'obj.seal'
    'body': '${1:Object}.seal(${2:object});${0:;}'
