'.source.js, .source.jsx':
  'Js export':
    'prefix': 'export'
    'body': 'export${2: default }${2:method}${0:;}'
  'Js import':
    'prefix': 'import'
    'body': 'import ${1:method} from \'${2:module}\'${0:;}'
