'.source.js, .source.jsx':

  'Js const':
    'prefix': 'const'
    'body': 'const ${1:name} = ${2:value}${0:;}'

  'Js let':
    'prefix': 'let'
    'body': 'let ${1:name} = ${2:value}${0:;}'

  'Js var':
    'prefix': 'var'
    'body': 'var ${1:name} = ${2:value}${0:;}'
