'.source.js, .source.jsx':

  'Js if':
    'prefix': 'elif'
    'body': """
      else if (${1:condition}) {
      \t${2:body}
      }$0
      """

  'Js if':
    'prefix': 'else'
    'body': """
    else {
    \t${1:body}
    }$0
    """

  'Js if':
    'prefix': 'if'
    'body': """
    if (${1:condition}) {
    \t${2:body}
    }$0
    """

  'Js if':
    'prefix': 'ife'
    'body': """
    if (${1:condition}) {
    \t${2:body}
    } else {
    \t${3:body}
    }$0
    """
